*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.productname{
    display:flex;
    justify-content: space-around;
    padding-top: 40px;
}
.rating{
    .checked {
        color: orange;
      }
      display:flex;
      
}
